@import 'styles/vars.scss';

.panel {
	width: 16rem;
	height: 100%;
	background-color: $secondary;
	display: flex;
	flex-direction: column;

	&__header {
		width: 100%;
		padding: 1rem;
		font-weight: 900;
		font-size: 2rem;
		text-transform: uppercase;
		color: white;
		line-height: .8;
		border-bottom: 1px solid rgba($light, .125);
		background-color: rgba($light, .125);
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		padding-top: .5rem;
		flex-grow: 1;
	}

	&__list-item {
		color: white;
		padding: .75rem 1rem 0 2rem;
		line-height: 1.2;
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		padding: .25rem;
	}
}