@import 'styles/vars.scss';

.chat-message {
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;

	&__header {
		display: flex;
		align-items: flex-end;
		font-size: .875rem;
	}

	&__name {
		color: $primary;
		font-weight: 900;
		padding: 0 .5rem .25rem 0;
		border-bottom: 1px solid rgba($secondary, .125);
	}

	&__time {
		font-size: .75rem;
		padding-bottom: .25rem;
		border-bottom: 1px solid rgba($secondary, .125);
	}

	&__message {
		margin: 0;
		padding-top: .5rem;
		font-size: 1.125rem;
	}
}