@import 'styles/vars.scss';

.chat-body {
	flex-grow: 1;
	background-color: $light;
	padding: 1rem;

	&__list {
		width: 100%;
		height: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__list-item {
		padding-bottom: .5rem;
	}
}