@import 'styles/vars.scss';

.chat-body {
	position: relative;
	z-index: 0;
	flex-grow: 1;
	background-color: $light;
	display: flex;
	flex-direction: column;

	&__list {
		flex-grow: 1;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 1rem 1rem 0 1rem;
		overflow: hidden;
		overflow-y: auto;
	}

	&__list-anchor {
		padding: 0;
		margin: 0;
	}
}