@import 'styles/vars.scss';

.chat-body {
	flex-grow: 1;
	background-color: $light;
	display: flex;
	flex-direction: column;

	&__list {
		flex-grow: 1;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 1rem;
	}

	&__list-item {
		padding-bottom: .5rem;
		font-size: 1.125rem;
	}
}