@import 'styles/vars.scss';

.preferences {
	$parent: &;

	&__background {
		cursor: pointer;
	}

	&__body {
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__close {
		position: absolute;
		right: 0;
		bottom: 0;
		text-transform: uppercase;
		background-color: transparent;
		border: 0;
		font-family: $raleway;
		font-weight: 700;
		color: white;
		cursor: pointer;
		transition: opacity $easing-regular;
		padding: 1rem 1.25rem;

		&:hover {
			opacity: .75;
		}
	}

	&__heading {
		width: 100%;
		margin: 0;
		font-weight: 900;
		font-size: 2rem;
		text-transform: uppercase;
		color: white;
		line-height: .8;
		border-bottom: 1px solid rgba(white, .25);
		padding-bottom: 1rem;
	}

	&__item {
		margin-top: 1rem;
		display: flex;
		text-transform: uppercase;
		font-weight: 900;
		font-size: .875rem;
	}

	&__checkbox {
		margin-right: .5rem;
		display: none;

		&:checked {
			+ #{$parent}__check-label {
				&::after {
					color: white;
				}
			}
		}
	}

	&__check-label {
		display: flex;
		align-items: center;
		cursor: pointer;

		&::after {
			content: '\2713';
			border: 2px solid white;
			border-radius: 2px;
			width: 1rem;
			height: 1rem;
			font-size: .75rem;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: .5rem;
			transition: color $easing-regular;
			color: transparent;
		}

		&:hover {
			&::after {
				color: rgba(white, .6);
			}
		}
	}

	&__input {
		margin-right: .5rem;
		padding: .25rem;
		appearance: none;
		border: 1px solid darken($light, 10%);
		border-radius: 0;
		background-color: $light;
		font-family: $raleway;
		color: $secondary;
		caret-color: $primary-light;
		transition: background-color $easing-regular;
		margin-left: .5rem;
		outline: none;

		&:focus {
			background-color: white;
		}
	}

	&__label {
		display: flex;
		align-items: center;
		cursor: pointer
	}
}