@import 'styles/vars.scss';

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	font-family: $raleway;
	color: black;
	transition: opacity 4.5s ease-out;
}

.chat {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;

	path {
		fill: inherit;
		stroke: inherit;
	}
}